@tailwind base;
@tailwind components;
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --text-color: #080f28;
    --background-color: #ffffff;
    --btn-bg-color: #007aff;
}

.dark {
    --text-color: #ffffff;
    --background-color: #080f28;
    --btn-bg-color: #007aff;
} */

:root {
    --text-color: #ffffff;
    --background-color: #080f28;
    --btn-bg-color: #007aff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    border-bottom: 1px solid #fff;
}
h1,
h2,
h3,
p {
    color: var(--text-color);
}

.btn-bg {
    background-color: var(--btn-bg-color) !important;
}

.card-title {
    color: #080f28;
}
.movies-grid {
    max-width: 1100px;
}
form input.rounded {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
form button.rounded {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
