@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-light-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    background: #080f28;
}

h1,
h2,
p {
    color: var(--text-light-color);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
